extends ../menu.jade

block content

  ul#serveractions.dropdown-content
    li: button.btn-flat.left-align(ng-click="restartServer()")
      i.material-icons.left replay
      span {{ 'home.menu.server.restart' | translate }}
    li: button.btn-flat.left-align(ng-click="startServer()" ng-class="{ disabled : server_started || !server_stopped }" ng-disabled="server_started")
      i.material-icons.left play_arrow
      span {{ 'home.menu.server.start' | translate }}
    li: button.btn-flat.left-align(ng-click="stopServer()" ng-class="{ disabled : server_stopped || !server_started }" ng-disabled="server_stopped")
      i.material-icons.left stop
      span {{ 'home.menu.server.stop' | translate }}

  nav
    div.nav-wrapper
      span.waves-effect.waves-light.button-collapse.stop-nav.full.hide-on-med-and-up(data-activates="slide-out")
        i.mdi-navigation-menu
      <!--<a href="#" class="brand-logo left">Logo</a>-->
      ul.left.hide-on-small-and-down
        li(ng-class="{ active: menu == 'home' }")
          a.waves-effect.waves-light(ui-sref="main.home.overview")
            i.fa.fa-2x.fa-home.left
            span {{ 'top.menu.overview' | translate }}
        li(ng-class="{ active: menu == 'graphs' }")
          a.waves-effect.waves-light(ui-sref="main.graphs.blockchain")
            i.fa.fa-2x.fa-area-chart.left
            span {{ 'top.menu.graphs' | translate }}
        li(ng-class="{ active: menu == 'settings' }")
          a.waves-effect.waves-light(ui-sref="main.settings.data")
            i.fa.fa-2x.fa-gear.left
            span {{ 'top.menu.settings' | translate }}
        li
          a.waves-effect.waves-light(ui-sref="logs" target="_blank")
            i.fa.fa-2x.fa-align-left.left
            span {{ 'top.menu.logs' | translate }}
      ul.right
        li: a.waves-effect.waves-light.dropdown-button(href="#!" data-activates="serveractions"): i.material-icons more_vert

  div(ui-view="")
