.container
  .row
    form.s12.center
      .card
        .card-action
          i.fa.fa-suitcase.fa-5x
          h1.card-title(translate="graphs.accounts.title")
          p(translate="graphs.accounts.message")

          //.row
          //  .col.s12.m2
          //    input#use_curves(type="radio" name="groupUse" value="curves" ng-model="use_chart")
          //    label(for="use_curves") {{ 'graphs.accounts.chart.curves' | translate }}
          //  .col.s12.m2
          //    input#use_pie(type="radio" name="groupUse" value="pie" ng-model="use_chart")
          //    label(for="use_pie") {{ 'graphs.accounts.chart.pie' | translate }}

          #accountsGraph

          .row
          .row
            .col.s12
              a.btn-large.waves-effect.waves-light(ng-click="download()")
                i.left.fa.fa-download
                span(translate="graphs.accounts.full_csv.button")