@import 'vendor'
@import 'menu'

html
  background-color: black

body, body > *
  height: 100%
  width: 100%
  position: absolute
  
head, main
  background-color: white !important
  transitionb: opacity 0.3s ease-in-out
  transform: translateZ(0)

main
  height: 100%

nav
  background-color #1A687F