main
  .container
    .row
      .s12.center
        .card.teal
          .card-content.white-text
            h1.card-title(translate="configuration.init.choose.title")
            p(translate="configuration.init.choose.message")
          .card-action
            .row: button.btn-large.waves-effect.waves-light(ui-sref="configure.create.uid")
              i.left.fa.fa-plus
              span(translate="configuration.init.choose.create")
            .row: button.btn-large.waves-effect.waves-light(ui-sref="sync")
              i.left.fa.fa-code-fork
              span.truncate(translate="configuration.init.choose.connect")
            .row: button.btn-large.waves-effect.waves-light(type="file" ngf-select="uploadFiles($file, $invalidFiles)"
            accept="zip/*" ngf-max-size="100MB")
              i.left.fa.fa-download
              span(translate="configuration.init.choose.import")
