.row
  .col.s12.m5
    select.browser-default(ng-model="$parent.conf.remote_ipv4")
      option(value="" selected translate="configuration.create_network.none")
      option(ng-repeat="inet in remote_neti | filter : 'IPv4'" value="{{ inet.addr }}" ng-selected="{{inet.addr == $parent.conf.remote_ipv4}}") {{ inet.name }}
    label {{ 'configuration.create_network.local_ipv4' | translate }}

  .col.s12.m7
    select.browser-default(ng-model="$parent.conf.remote_ipv6")
      option(value="" selected translate="configuration.create_network.none")
      option(ng-repeat="inet in remote_neti | filter : 'IPv6'" value="{{ inet.addr }}" ng-selected="{{inet.addr == $parent.conf.remote_ipv6}}") {{ inet.name }}
    label {{ 'configuration.create_network.local_ipv6' | translate }}

  .input-field.col.s6.m5
    i.prefix.material-icons language
    input#dns(type="text" ng-model="$parent.conf.dns")
    label(for="dns") {{ 'configuration.create_network.dns' | translate }}

  .input-field.col.s6.m3
    i.prefix.fa.fa-plug
    input#rport(type="number" ng-model="$parent.conf.rport")
    label(for="rport") {{ 'configuration.create_network.port' | translate }}

  .input-field.col.s6.m4
    input#upnp.filled-in(type="checkbox" ng-model="$parent.conf.upnp")
    label(for="upnp") {{ 'configuration.create_network.upnp' | translate }}
