extends ../../with_menus_view

block main_content

  main.home.main-screen

    .container
      .row
        .col.s12
          ul.tabs
            li.tab.col.s3: a(href="#main.home.overview")
              i.fa.fa-database &nbsp;
              = " {{ 'home.tabs.overview' | translate }}"
            li.tab.col.s3: a(href="#main.home.logs")
              i.fa.fa-newspaper-o &nbsp;
              = " {{ 'home.tabs.logs' | translate }}"

    div.ui-scrollable(ui-view="")
