main.home-main.main-screen

  .container
    .row
      .col.s12
        ul.tabs
          li.tab.col.s3: a(href="#main.home.overview")
            i.fa.fa-photo &nbsp;
            = " {{ 'home.tabs.overview' | translate }}"
          li.tab.col.s3: a(href="#main.home.logs")
            i.fa.fa-newspaper-o &nbsp;
            = " {{ 'home.tabs.logs' | translate }}"

  div.ui-scrollable(ui-view="")