main
  .container
    .row
      .s12.center
        .card.teal
          .card-content.white-text
            h1.card-title(translate="configuration.init.choose.title")
            p(translate="configuration.init.choose.message")
          .card-action
            .row: a.btn-large.waves-effect.waves-light(ui-sref="configure.create_uid")
              i.left.fa.fa-plus
              span(translate="configuration.init.choose.create")
            .row: a.btn-large.waves-effect.waves-light.disabled
              i.left.fa.fa-code-fork
              span.truncate(translate="configuration.init.choose.connect")
