extends with_menus_view

block main_content

  #modalReset.modal
    .modal-content
      h4 {{ 'settings.data.modal_title' | translate }}
      p {{ 'settings.data.modal_message' | translate }}
    .modal-footer
      a.btn.modal-action.modal-close.waves-effect.waves-light.btn-flat {{ 'settings.data.modal_disagree' | translate }}
      a.btn.modal-action.modal-close.waves-effect.waves-light.orange(ng-click="fullReset()")
        i.material-icons.left done
        ="{{ 'settings.data.modal_agree' | translate }}"

  main.main-screen

    .container
      .row
        .col.s12
          ul.tabs
            li.tab.col.s3: a(href="#settings.data")
              i.fa.fa-database &nbsp;
              = " {{ 'settings.tabs.data' | translate }}"
            li.tab.col.s3: a(href="#settings.crypto")
              i.fa.fa-key &nbsp;
              = " {{ 'settings.tabs.identity' | translate }}"
            li.tab.col.s3: a(href="#settings.network")
              i.fa.fa-globe &nbsp;
              = " {{ 'settings.tabs.network' | translate }}"
            li.tab.col.s3: a(href="#settings.currency")
              i.fa.fa-balance-scale &nbsp;
              = " {{ 'settings.tabs.currency' | translate }}"

    div.ui-scrollable(ui-view="")
